<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Date Création</th>
                </tr>
                <tbody *ngFor="let produit of products">
                    <tr>
                        <td>{{produit.idProduit}}</td>
                        <td>{{produit.nomProduit}}</td>
                        <td>{{produit.prixProduit}}</td>
                        <td>{{produit.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td><button class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</button></td>
                        <td><button class="btn btn-success" [routerLink]="['/update-produit', produit.idProduit]">Modifier</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>